<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1710DE5B1C453AF700912C5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>212D018A1BB1986B00B34340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21DB300E19DD2289003A418D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FF397D41D6A5AEC004EAE2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
