<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<string>false</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Pair Up</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.bdesignworks.pearup</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pairup</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>51</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>26e8ad9c560c2cc08a320c0e96eed4f489ae1901</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) uses photos to upload images to conversation and to set avatar.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Understanding your activity levels will give your Pair Up coach key insights to help you lock-in new habits.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Understanding your activity levels will give your Pair Up coach key insights to help you lock-in new habits.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) uses photos to upload images to conversation and to set avatar.</string>
	<key>UIAppFonts</key>
	<array>
		<string>BDesignworks/WorkSans-Regular.ttf</string>
		<string>BDesignworks/WorkSans-SemiBold.ttf</string>
		<string>BDesignworks/OpenSansRegular.ttf</string>
		<string>BDesignworks/OpenSansSemiBoldItalic.ttf</string>
		<string>BDesignworks/OpenSansSemiBold.ttf</string>
		<string>BDesignworks/OpenSansRegularItalic.ttf</string>
		<string>BDesignworks/OpenSansLightItalic.ttf</string>
		<string>BDesignworks/OpenSansLight.ttf</string>
		<string>BDesignworks/OpenSansExtraBoldItalic.ttf</string>
		<string>BDesignworks/OpenSansExtraBold.ttf</string>
		<string>BDesignworks/OpenSansBoldItalic.ttf</string>
		<string>BDesignworks/OpenSansBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Login</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>healthkit</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>URL_HOST</key>
	<string>${URL_HOST}</string>
</dict>
</plist>
